body {
  /* Remove margens padrão do navegador */
  margin: 0;
  /* Define a família da fonte */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* Melhora a suavização de fontes em navegadores webkit (Chrome, Safari) */
  -webkit-font-smoothing: antialiased;
  /* Melhora a suavização de fontes em navegadores gecko (Firefox) */
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  color: #fff;
}